<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for sensors and notifications -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WellnessApp"
        tools:targetApi="31">
        
        <!-- Onboarding Activities -->
        <activity
            android:name=".OnboardingDrinkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".OnboardingMoodsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".OnboardingToolsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        
        <!-- Test Home Activity -->
        <activity
            android:name=".TestHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        
        <!-- Authentication Activities -->
        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- Widget Provider -->
        <receiver android:name=".widget.WellnessWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/wellness_widget_info" />
        </receiver>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Mood Selection Activities -->
        <activity android:name=".MoodSelectionActivity" />
        <activity android:name=".MoodFactorsSelectionActivity" />

    </application>

</manifest>